.Note {
  position: relative;
  padding: 5px 10px;
  background: #ffffc4;
  border: 1px solid #f2f200;
  text-align: left;
}

.Note hr {
  border: none;
  border-top: 1px solid #eee;
}

.Note-title {
  height: 1.5em;
  margin: 0;
  font-style: italic;
}

.Note-text {
  margin: 0;
  padding: 0;
  min-height: 60px;
  max-height: 200px;
  overflow: auto;
}

.Note-title:focus, .Note-text:focus {
  outline: none;
}
