.Notes {
  padding: 24px 5vw 0;
  flex-grow: 1;
  min-height: 300px;
  min-width: 250px;
  text-align: left;
}

.Notes-AddButton {
  cursor: pointer;
  font-size: large;
}

.Notes-AddButton > svg {
  margin-top: -3px;
}

.NotesList {
  margin-top: 10px;
  max-height: 400px;
  padding: 0;
  list-style-type: none;
  overflow-y: auto;
}

.NotesList .Note {
  margin: 10px auto;
}

.NotesList-NoNotes {
  margin-top: 20px;
  text-align: center;
}
