.EventLog {
  position: relative;
}

.EventLogList {
  width: 400px;
  max-width: calc(100vw - 40px);    /* full screen - padding */
  max-height: 400px;
  padding: 0;
  font-size: medium;
  list-style-type: none;
  overflow-y: auto;
  text-align: left;
}

.EventLog-raw {
  position: absolute;
  top: 25px;
  right: 0;
}
