@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Cardo';

body {
  margin: 0;
  padding: 0;
  font-family: 'Cardo', serif;
}

h1, h2, h3, h4, h5, label, .sans-serif {
  font-family: 'Montserrat', sans-serif;
}

ul {
  margin: 16px 0;
}

.clear {
  clear: both;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.rc-tooltip-inner {
  min-height: 18px;
}
